
services:
  # Redis
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - gpu-net
    volumes:
      - redis-data:/data

  # router
  router:
    build:
      context: ./router
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - gpu-net
    environment:
      - LOG_LEVEL=INFO
      - NODE_URL=http://node:8005
      - REDIS_HOST=redis
    depends_on:
      - node
      - redis

  # Node
  node:
    build:
      context: ./node
      dockerfile: Dockerfile
    ports:
      - "8005:8005"
    networks:
      - gpu-net
    environment:
      - REDIS_HOST=redis

networks:
  gpu-net:
    driver: bridge

volumes:
  redis-data: